.nav{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin-right: 10px;
}
body{
    font-family: arial, sans-serif;
}

.linkImages{
    margin-right: 10px;
}

.nav a{
    text-decoration: none;
    color: rgba(0,0,0,.87);
    font-size: 15px;
}

.nav a:active{
    color: inherit;
}

.nav a:hover{
    text-decoration: underline;
}

.logoCont{
    display: flex;
    flex-direction: column;
    height: 50vh;
    align-items: center;
    justify-content: center;
}

.searchInput{
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    width: 500px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
}

.searchInput:focus{
    outline: none;
}

.buttons{
   display: flex;
   justify-content: center;
   gap: 15px;
}

.btnSubmit{
    all: unset;
    background-color: #f8f9fa;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    border-radius: 4px;
    color: #3c4043;
    cursor: pointer;
}

.btnSubmit:hover{
    outline: solid 1px lightgray;
}


.txtAdvSearch{
    font-size: 20px;
    font-weight: 400;
    color: #d93025;
    margin-left: 35px;

}

.line{
    height: 1px;
    width: 100%;
    background-color: #ebebeb;
}


.advInputs{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.advInputs input{
    height: 26px;
    width: 572px;
    margin-right: 45%;
    border: 1px solid #c0c0c0;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
   
}

.advInputs input:focus {

    outline: 0.5px solid #4d90fe;
}

.advInputs label{
    font-size: 13px;
    margin-left: 35px;
    color: #222;
}
.findPages{
    margin-left: 35px;
    margin-bottom: 35px;
    font-size: 16px;
    color: #333;
}

.advBttn{
    all: unset;
    position: relative;
    left: 49%;
    box-sizing: border-box;
    width: 120px;
    font-size: 11px;
    font-weight: bold;
    background-color: #4d90fe;
    color: white;
    padding: 12px;
    
}

.advBttn:hover{
    background-color:#3079ed;
}